* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir.woff);
}

body {
  direction: rtl;
  font-family: vazir;
}

.header-box {
  position: relative;
}

.header-1 {
  background-color: #032340;
  text-align: center;
  width: 100%;
  height: 40px;
  z-index: 20;
}
.header-1 p {
  color: #ffffff;
  width: 303;
  height: 20;
  font-weight: 400;
  size: 14px;
  padding: 10px 0;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1224px;
  margin: auto;
}

.logo-image {
  width: 150px;
  height: 32px;
}
.fitland {
  color: #868686;
  color: #868686;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fitland h1 {
  margin-top: 5px;
  font-size: 10px;
}
.search-box {
  position: relative;
}
.search-box input {
  width: 638px;
  height: 48px;
  margin: 30px;
  box-sizing: 1px;

  background-color: #f9f9f9;
  border: solid 2px #cbcbcb;
  border-radius: 16px;
}

.search-icon {
  position: absolute;
  right: 30px;
  padding: 10px 10px;
  margin-top: 20px;
  top: 15px;
  color: #fa541c;
  z-index: 20;
  font-size: 20px;
}
.action-buttons {
  display: flex;
}
.cart {
  background-color: #fa541c;
  width: 48px;
  height: 48px;
  margin-right: 15px;
  border: none;
  position: relative;
  border-radius: 12px;
}
.cart span {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  background-color: black;
  color: white;
  top: -10px;
  left: -10px;
  font-family: vazir;
}

.login-set {
  width: 143px;
  height: 48px;
  border-radius: 12px;
  display: flex;
  box-shadow: 0 -251px 215px rgba(0, 0, 0, 0.3), 0 3px 25px rgba(0, 0, 0, 0.22);
  padding: 12px 10px;
  justify-content: space-between;
}

.login-set img {
  height: 24px;
  width: 24px;
}

nav {
  width: 1224px;
  margin: auto;
  /* height: 28px; */
  height: 64px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 16px;
  padding-left: 40px;
  background-color: #032340;
  background: #f9f9f9;
}
.right-items li {
  display: inline-block;
  margin-right: 27px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.left-items li {
  display: inline-block;
  margin-right: 60px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.left-items li img {
  position: absolute;
  top: 4px;
  right: -19px;
}
.section-1 {
  display: flex;
  justify-content: center;
}

main .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 305px;
  margin-top: 40px;
  width: 445px;
}
.standard-button {
  width: 206px;
  color: white;
  font-family: "vazir";
  height: 48px;
  align-items: center;
  border-radius: 12px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border-width: 0;
  gap: 8px;
  background: #032340;
  justify-content: center;

  display: flex;
}
main .right p {
  color: #606060;

  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: right;
}
main .right h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;

  color: #032340;
}
main .right h3 {
  color: #fa541c;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

main .middle {
  margin-top: 20px;
  width: 512px;
  position: relative;
}
.runner {
  position: absolute;
  z-index: 20;
}
.under-foot {
  z-index: 10;
  position: absolute;
  top: 384px;
  left: -345px;
}
main .left {
  margin-top: 70px;
}
main .left .statistics {
  display: flex;
  margin-top: 10px;
  align-items: center;
}
main .left .statistics div.image-container {
  width: 80px;
  height: 80px;
  background-color: #ebf5ff;
  border-radius: 16px;
  padding: 20px;
  padding: auto;
}
main .left .statistics .content {
  margin-right: 20px;
}
.section-2 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  padding: 50px;
  margin-top: 200px;
  flex-wrap: wrap;
}
.img-section-2 {
  border-radius: 12px;
  overflow: hidden;
  background-color: #f4f4f4;
  width: 392px;
}
.img-section-2 img {
  width: 100%;
  height: auto;
  display: block;
}
.box-color span {
  color: #fa541c;
}
.box-color {
  background-color: #021526;
  color: #f9f9f9;
  padding: 15px;
}
.products-info {
  width: 282px;
}
.products-info h4 {
  font-size: 22px;
  margin-bottom: 10px;
}
.products-info p {
  font-size: 16px;
  font-weight: 700px;
  color: #555;
  margin-bottom: 20px;
}

.products-info button {
  background-color: #fa541c;
  font-size: 16px;
  color: #f9f9f9;
  width: 309px;
}

.section-3 {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url(../images/background-img-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-card {
  position: absolute;
  top: 198px;
  right: 200px;
}

.text-card h4 {
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  vertical-align: middle;
  margin-bottom: 22px;
}

.text-card p {
  font-weight: 400;
  font-size: 24px;
  text-align: right;
  vertical-align: middle;
}
.discounts-container {
  position: relative;
}
.discounts-header {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 45%;
  top: -30px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
}
.discounts-section {
  margin-top: 80px;
  padding-top: 60px;
  display: flex;
  background-color: #fff7f4;
  justify-content: center;
  gap: 24px;
}
.discounts-section > .standard-button {
  background-color: transparent;
  color: black;
  position: absolute;
  top: 10px;
  left: 140px;
}
.standard-card {
  width: 366px;
  height: 467px;
  border-radius: 16px;
  background-color: white;
  overflow: hidden;
  margin-bottom: 30px;

  border: 1px solid #ededed;
}
.standard-card h5 {
  font-weight: 700;
  font-size: 16px;
  text-align: right;
  line-height: 40px;
}
.standard-card p {
  font-weight: 100;
  font-size: 12px;
  text-align: right;
}
.standard-card img.main-img {
  width: 101%;
  height: auto;
  display: block;
}
.standard-card div {
  padding: 10px;
}
.about-shoes {
  position: relative;
}
.shoes-header {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 45%;
  top: -30px;
  font-size: 20px;
  white-space: nowrap;
}
.shoes-section {
  margin-top: 80px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.shoes-section > .standard-button {
  background-color: transparent;
  color: black;
  position: absolute;
  top: 10px;
  left: 140px;
}
.wheels-container {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url(../images/background-img-2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.discounts-wheels-container {
  position: relative;
}
.discounts-header {
  width: 200px;
  height: 60px;
  position: absolute;
  left: 45%;
  top: -30px;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-radius: 16px;
}
.discounts-wheels-section {
  margin-top: 80px;
  padding-top: 60px;
  display: flex;
  background-color: #f4faff;
  justify-content: center;
  gap: 24px;
}
.discounts-wheels-section > .standard-button {
  background-color: transparent;
  color: black;
  position: absolute;
  top: 10px;
  left: 140px;
}
.top-sale-container {
  margin-top: 20px;
}
.camp-container {
  background-image: url(../images/camp.svg);
}
.news-card {
  width: 564px;
  height: 515px;
  border-radius: 16px;
  border-width: 1px;
}
.news-card h5 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
.news-card p {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 20px;
}
.news-card button {
  width: 161px;
}
.orange-button {
  background-color: #fa541c;
  font-size: 16px;
  color: #f9f9f9;
}

.option-container {
  width: 100%;
  height: 241px;
  display: flex;
  gap: 24px;
  background: #f4faff;
  align-items: center;
  justify-content: center;
}

.option-cards {
  display: flex;
  width: 167px;
  height: 172px;
  gap: 26px;
  border-radius: 16px;
  border-width: 1px;
  padding-right: 17px;
  flex-direction: column;
  background: #ffffff;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.option-container p {
  max-width: 359px;
  font-weight: 700;
  font-size: 24px;
}
footer {
  width: 100%;
  min-height: 558px;
  background: #021526;
  color: white;
}
.footer-first-row {
  padding: 80px 80px 0 80px;
  display: flex;
  justify-content: space-around;
}
.footer-columns {
  display: flex;
  gap: 60px;
}

footer span {
  color: #fa541c;
}
footer ul {
  margin-top: 30px;
}
footer li {
  line-height: 48px;
}
.footer-first-row p,
.footer-first-row h3,
.footer-first-row h4,
.footer-first-row li {
  font-weight: 400;
  font-size: 14px;
}
.footer-second-row {
  padding: 0 80px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 50px;
}
.footer-second-row .right-column {
  width: 650px;
  height: 128px;
}

.footer {
  font-size: 10px;
  padding: 0 80px 0 80px;
}
.left-footer,
.right-footer {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  height: 42px;
  align-content: center;
  align-items: center;
}

.social-media-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.newsfeed {
  width: 330px;
  height: 38px;
  margin-top: 14px;
  padding: 18px;
  background-color: #021526;
  border: solid 1px #ededed;
  border-radius: 8px;
  padding-right: 40px;
  font-family: "vazir";
}
.newsfeed-container {
  position: relative;
}
.newsfeed-container img {
  position: absolute;
  right: 15px;
  top: 25px;
}
.newsfeed-container button {
  position: absolute;
  left: 6px;
  top: 20px;
  width: 47px;
  height: 26px;
}
.footer-second-row .left-column {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
